    .alpha {

   border-bottom:1px solid black;

    }

    .alpha1{

      margin-left: 10px;
      margin-right: 10px;
    }

  

    .sect{
   background-image: url("/images/tafla7t.jpg");
   margin-bottom:40px ;
    }
 
   .alpha5{

    margin-left: 550px;

    }

    .image-circulaire {
              width: 70px;
              height: 70px;
              border-radius: 50%;
    }
          

  