body{
    background-image: url('/images/agriculture.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin : 0px ;
    padding: 0px ;
    justify-content: center;
    display  : flex ;
    min-height: 100vh;
    align-items: center;
    
    }
    
    
    form{
    max-width: 500px;
    box-sizing: content-box;
    border: 1px solid back;
    padding: 40px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 20px;
    background: white;
      
    }
    
      div{
    
        padding-left: 20px ;
        margin-top: 15px;
        margin-bottom: 15px;
        display:block;
      }
    
    h2{
     
      text-align: center;
      font-size: 2em;
    }
    
    .input-box{
    position: relative;
    width: 310px;
    border-bottom: 2px solid black;
    height: 50px;
    }
    
    .input-box label  {
    position: absolute;
    top : 0%;
    left : 10px;
    transform: translateY(-50%);
    color : black;
    font-size: 1em;
    pointer-events: none;
    
    }
    
    
    
    .input-box input {
    position: absolute;
    width: 100%;
    height: 30px;
    background: transparent;
    border:none;
    outline: none;
    color:black;
    bottom: 0px;
    font-size: 1em;
    }
    
    .input-box textarea {
    position: absolute;
    width: 100%;
    height: 30px;
    background: transparent;
    border:none;
    outline: none;
    bottom: 0px;
    }
    
    button{
    height: 50px ;
    width: 100%;
    background-color: grey;
    border-radius: 40px;
    border:none;
    outline:none;
    font-size: 1em;
    cursor: pointer;
    font-weight: 600;
    }
    
    input:focus ~ label
    input:valid ~ label{
      top : -5%
    }
    
    .trans{
    
      background-color: rgba(255, 255, 255, 0.7);
    }
    
    .class1{
    
      background: transparent;
    }